a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

.clear-margin{
  margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container{
  display: block;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header {
  background-color: #d8a647;
  padding: 20px 0; 
}

.logo {
  display: block;
  vertical-align: middle;
  width: 20%;
  float: left;
  margin: 0;
  text-align: center;
}

.navigation{
  display: block;
  vertical-align: middle;
  width: 65%;
  padding: 0;
  float: left;
}

.navigation__header {
  text-align: center;
  border: 2px solid #000;
  margin: 0;
  padding: 12px 0;
}

.navigation__header li{
  display: inline-block;
  height: 100%;
  padding: 0 10px;
}

.header__contacts {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  float: left;
  text-align: center;
}

.pic_header{
  display: block;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  background: url('gitara1.jpg') 50% no-repeat;
  background-size: cover;
}

.pic_header h2, .pic_header p {
  color: white; 
}

.pic_header__info {
  padding: 100px 0 0 70px;
}

.pic_header img {
  width: 100%;
  height: auto;
}

.left_side {
  display: block;
  width: 20%;
  float: left;
  margin-right: 10px;
}

.navigation__content {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation__content li{
  display: block;
  border: 2px solid #000;
  padding: 3px 0;
  background-color: #d8a647;
}

.content__info {
  display: block;
  width: 65%;
  float: left;
  margin: 0;
  text-align: left;
}
.pic_content {
  display: block;
  width: 14%;
  float: left;
  margin: 0;
}

.pic_content img {
  width: 100%;
}

h6 {
  margin: 23px 0 5px 0;
}

.baner_nav {
  display: block;
  float: left;
}

.baner_nav img {
  width: 65%;
}

.footer {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}